.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid;
    height: 60vh;
    width:80vh;

}


@media only screen and (max-width: 720px) {
    .box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 70%;
        width: 60vh;
        margin: 10vh 150px 0 10vh;
    }
    .item_box{
        right: 50%;
    }
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }

}