.item_box{
    width: 20vh;
    height: 10vh;
    cursor: pointer;
}

.item_box:hover{
    transform: scale(1.1)
}


img{
    width: 100%;
}


@media only screen and (max-width: 720px) {
    .item_box {
        width: 10vh;
        height: 5vh;
    }

}