.App{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 10px 100px 50px 100px;
}

@media only screen and (max-width: 720px) {
  .App {
      margin: 5% 10px;
  }
    body{
        display: flex;
        justify-content: center;
        margin: 0 50px 0 50px;

    }
}